.todos-item {
    display: flex;
    align-items: center;
    background: none;
    border-bottom: 1px solid #e6e6e6;

    padding: 0;
    min-height: 60px;

    cursor: pointer;
}

    .todos-item:hover {
        background-color: #fafafa;
    }

    .todos-item:hover > .todos-item_remove {
        opacity: 100;
    }

    .todos-item:hover > .todos-item_text {
        background-color: #fafafa;
    }

        .todos-item:hover > .todos-item_ready-mark > .todos-item_ready-mark_target:not(:checked) ~ .todos-item_ready-mark_visual {
            border-color: #d3d3d3;
            background: #fff;
        }


    .todos-item_ready-mark {
        float: left;
        position: relative;
        width: 60px;
        height: 60px;

        margin: 0;
        padding: 0;
    }

        .todos-item_ready-mark_target {
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;

            width: 100%;
            height: 100%;

            opacity: 0;
            z-index: 1;

            cursor: pointer;
        }

            .todos-item_ready-mark_target:checked + .todos-item_ready-mark_visual {
                background: url('../../img/icons/completed.png') no-repeat 50% 65%;
                background-color: #fff;
                border-color: #5dc2af;
            }

        .todos-item_ready-mark_visual {
            width: 34px;
            height: 34px;

            margin: 12px;

            border: 1px solid #e7e7e7;
            border-radius: 50%;
        }

    .todos-item_text {
        flex: 1 0;
        position: relative;

        margin-top: 14px;
        margin-bottom: 14px;

        font-size: 24px;
        font-weight: 200;
        line-height: 30px;

        color: #666;

        border: none;
        outline: none;

        word-wrap: break-word;
        overflow: hidden;
    }
        .todos-item_text.__done {
            color: #e0e0e0;
            text-decoration: line-through;
        }

    .todos-item_remove {
        float: right;
        align-self: flex-end;
        order: 3;

        position: relative;
        width: 42px;
        height: 60px;

        padding: 0;
        margin: 0;
        opacity: 0;

        background: none;
        outline: none;
        border: none;

        cursor: pointer;
    }

        .todos-item_remove_icon {
            position: absolute;
            left: 50%;
            top: 50%;

            width: 18px;
            height: 18px;

            margin: -9px -9px;
            background: url('../../img/icons/close.png') no-repeat 0 0;
        }